# Node.js Bot Dependencies
node-telegram-bot-api
dotenv
mongodb

# Commands to setup and run the Bot on a VPS or Local Machine:

# 1. Install Node.js (if not already installed)
# 2. Open the terminal in this "Bot Code" folder
# 3. Install the dependencies using npm:
npm install

# 4. Create a .env file and add your tokens (see README.md)
# 5. Run the bot:
node index.js
